body {
  background-color: #14182f;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #936bff;
}

.username {
  color: #062035;
  font-size: 2em;
  margin: 0;
}

.subtitle {
  color: #00606d;
  margin-bottom: 20px;
}

.welcome {
  margin: 10px 0 20px;
}

.important-box {
  background-color: #80eca1;
  border-left: 5px solid #45dd45;
  padding: 15px;
  text-align: left;
  margin-bottom: 25px;
  border-radius: 8px;
}

.important-box h3 {
  color: #4b84ff;
  margin-top: 0;
}

.btn {
  display: block;
  padding: 12px;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  margin: 10px auto;
  width: 80%;
  font-weight: bold;
  transition: background-color 0.3s;
}

.telegram {
  background-color: #229ed9;
}

.twitch {
  background-color: #cc00ff;
}

.discord {
  background-color: #2f00ff;
}

.btn:hover {
  opacity: 0.9;
}
